html * { font-size: 18px; font-family: Georgia; color: #757575; -ms-overflow-style: none;  scrollbar-width: none; }
html, body { margin: 0px; height: 100%; }
body { overflow: hidden; }
h1 { font-size: 22px; }
h2 { font-size: 20px; }
button { border: none; }
::-webkit-scrollbar {
  display: none;
}
.banner {
	background: lightblue;
	display: flex;
	align-items: center;
	height: 64px;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.banner-item {
	height: 100%;
}

.banner-item-end {
	margin-left: auto;
}

.logo {
	background: rgba(0,0,0,0);
	height: 100%;
	position: relative;
}


footer {
	background: lightblue;
	align-items: center;
	display: fixed;
	position: absolute;
	bottom: -48px;
	width: 40%;
	left: 30%;
	height: 88px;
	border-radius: 45%;
}
.footer-nav {
	height: 50%;
	padding: 11px;
	position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-nav-link {
	position: relative;
	font-size: 16px;
	padding-left: 16px;
	padding-right: 16px;
}


.nav-button {
	margin-right: 16px;
}

.hamburger-button {
	padding: 0;
	height: 32px;
	width: 32px;
	background: rgba(0,0,0,0);
	border: none;
}

.hamburger-button:hover { cursor: pointer; }

.hamburger-image {
	background: rgba(0,0,0,0);
	height: 32px;
	padding: 16px;
	position: relative;
}

.hamburger-nav {
	background: white;
	position: absolute;
	display: inline-block;
	overflow-x: hidden;
	top: 70px;
	height: 90%;
	left: -300px;
	z-index: 2;
	box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.2);
	width: 300px;
	transition: 0.5s;
}

.hamburger-nav-role {
	padding: 20px 20px;
}

.hamburger-nav-role-link {
	margin: 32px;
}

.hamburger-nav-role-link a {text-decoration: none;}


.dropbtn {
	background-color: rgba(0,0,0,0);
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	padding: 7px;
	padding-right: 16px;
	float: right;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10%;
	right: 16px;
	font-size: 16px;
}

.dropdown-item {
	margin: 16px;
	display: block;
	border-radius: 10%;
	border: none;
}

.dropdown-item a { text-decoration: none; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #f1f1f1; }


#main { transition: 0.5s; }
.content-container { display: flex; height: 100%; width: 100%; }
.content { height: 100%; width: 100%; display: flex; margin: 0px; }
.content-body { height: 100%; margin: 32px; }
.content-body a { text-decoration: none; }
.content-item { margin-top: 32px; margin-left: 32px; }
.sidebar { position: relative; top: 6px; height: 90%; box-shadow: 0px 4px 16px 3px rgba(0,0,0,0.2); overflow-y: scroll; }
.sidebar-item { margin: 32px; }
.sidebar-item a { text-decoration: none }
.add-button { height: 28px; text-align: center; line-height: 100%; border: none; }
.small-button {height: 16px; width: 16px; }

.selectable:hover { background-color: #ddd; cursor: pointer; }
.h-divider { margin-left: 7%; margin-right: 7%; }
