html * { font-family: Georgia; color: #757575; -ms-overflow-style: none; scrollbar-width: none; }
html, body { margin: 0px; height: 100%; }
body { overflow: hidden; }
h1 { font-size: 20px; }
h2 { font-size: 18px; }
p, textarea, input[type=text], input[type=date], option { font-size: 16px }
button { border: none; font-size: 16px; }
::-webkit-scrollbar {
  display: none;
}

table { width: 100%; border-collapse: collapse; }
td, th { border: 1px solid #ddd; padding: 8px; }
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightblue;
  cursor: auto;
}
tr:nth-child(even){background-color: lightcyan;}
tr:hover {background-color: #ddd; cursor: pointer; }

.selectable:hover { background-color: #ddd; cursor: pointer; }
.h-divider { margin-left: 8px; margin-right: 8px; border: 1px solid #ddd; }
.v-divider { border: 1px solid #ddd; margin-top: 8px; margin-bottom: 8px; margin-left: 64px; }
.menu-font { font-size: 18px; }


.banner {
	background: lightblue;
	display: flex;
	align-items: center;
	height: 64px;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.banner-item {
	height: 100%;
}

.banner-item-end {
	margin-left: auto;
}

.logo {
	background: rgba(0,0,0,0);
	height: 100%;
	position: relative;
}


footer {
	background: lightblue;
	align-items: center;
	display: fixed;
	position: absolute;
	bottom: -48px;
	width: 40%;
	left: 30%;
	height: 88px;
	border-radius: 45%;
}
.footer-nav {
	height: 50%;
	padding: 11px;
	position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-nav-link {
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 16px;
}


.nav-button {
	margin-right: 16px;
}

.hamburger-button {
	padding: 0;
	height: 32px;
	width: 32px;
	background: rgba(0,0,0,0);
	border: none;
}

.hamburger-button:hover { cursor: pointer; }

.hamburger-image {
	background: rgba(0,0,0,0);
	height: 32px;
	padding: 16px;
	position: relative;
}

.hamburger-nav {
	background: white;
	position: absolute;
	display: inline-block;
	overflow-x: hidden;
	top: 70px;
	height: 90%;
	left: -300px;
	z-index: 2;
	box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.2);
	width: 300px;
	transition: 0.5s;
}

.hamburger-nav-role {
	margin: 32px;
	padding-top: 2px;
}

.hamburger-nav-role-link {
	margin: 32px;
}

.hamburger-nav-role-link a {text-decoration: none;}


.dropbtn {
	background-color: rgba(0,0,0,0);
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	padding: 7px;
	padding-right: 16px;
	float: right;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10%;
	right: 16px;
}

.dropdown-item {
	margin: 16px;
	display: block;
	border-radius: 10%;
	border: none;
}

.dropdown-item a { text-decoration: none; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #f1f1f1; }


#main { transition: 0.5s; }
.content-container { display: flex; height: 100%; width: 100%; }
.content { height: 100%; width: 100%; display: flex; margin: 0px; }
.content-body { height: 100%; margin: 32px; }
.content-body a { text-decoration: none; }
.content-item { margin-top: 32px; margin-left: 32px; width: 100%; }
.content-subitem { margin-top: 16px; }
.sidebar { position: relative; top: 6px; height: 90%; min-width: 300px; box-shadow: 0px 4px 16px 3px rgba(0,0,0,0.2); overflow-y: scroll; }
.sidebar-item { margin: 32px; }
.sidebar-item a { text-decoration: none }
.sidebar-title { margin-top: 34px; margin-bottom: 34px; margin-left: 32px; margin-left: 32px; text-decoration: none; }
.sidebar-title a { text-decoration: none }
.add-button { height: 28px; text-align: center; line-height: 100%; border: none; }
.small-button {height: 16px; width: 16px; }

.pop-up { position: fixed; margin-left: 200px; z-index: 1; top: 128px; background-color: white; border: 2px solid #ddd; }
.pop-up-item { margin: 32px; }

.form-item { margin-top: 16px; display: inline-block; }
.form-input-text { width: 800px; }
.form-input-longtext { position: relative; width: 99%; height: 1400px; border: none; top: -692px; overflow-x: scroll; }
.longtext-box { width: 800px; height: 500px; background-color: white; border: 2px solid #ddd; overflow: hidden; resize: none; }
.longtext-box:focus, .form-input-longtext:focus { outline: none; }

