html * { font-size: 18px; font-family: Georgia; color: #757575; }
html, body { margin: 0px; height: 100%; }
#whole-page {min-height: 100%; overflow: hidden; position: relative;}

footer {
	background: lightblue;
	align-items: center;
	display: fixed;
	position: absolute;
	bottom: -48px;
	width: 40%;
	left: 30%;
	height: 88px;
	border-radius: 45%;
}
.footer-nav {
	height: 50%;
	padding: 11px;
	position: relative;
	position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-nav-link {
	position: relative;
	font-size: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.banner {
	background: lightblue;
	display: inline-block;
	align-items: center;
	height: 64px;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hamburger-menu {
	background: rgba(0,0,0,0);
	height: 50%;
	padding: 16px;
	position: relative;
}

.logo {
	background: rgba(0,0,0,0);
	height: 100%;
	position: relative;
}

.dropbtn {
	background-color: rgba(0,0,0,0);
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	padding: 7px;
	padding-right: 16px;
	float: right;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10%;
	right: 16px;
	font-size: 16px;
}

.dropdown-item {
	padding: 16px;
	text-decoration: none;
	display: block;
	border-radius: 10%;
	border: none;
}

.dropdown-content a:hover {background-color: #ddd; border-radius: 10%;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f1f1f1;}

.border-bottom {border-bottom: 2px solid #bbb;}

.hide {opacity: 0;}
