<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %} - Teacher Camp</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body> <div id="whole-page">
	<header class="banner">
		<img src="{{ url_for('images', path='/hamburger.png') }}" alt="Log In/Out" class="hamburger-menu">
		<a href="" ><img src="{{ url_for('images', path='/megducation.png') }}" alt="Megducation Logo" class="logo"></a>
		<span class="dropdown">
			<button class="dropbtn">
				<img src="{{ url_for('images', path='/graduation-hat.png') }}" alt="Log In/Out">
		    </button>
			<div class="dropdown-content">
				{% for target, label in login_menu.items() %}
					<a href="{{target}}">{{label}}</a>
				{% endfor %}
			</div>
		</span>
	</header>
	<section class="content">
		<header>
			{% block header %}{% endblock %}
		</header>
		{% block content %}{% endblock %}
	</section>
	<footer>
		<nav class="footer-nav">
			<a href="#" class="footer-nav-link">About Us</a>
			<a href="#" class="footer-nav-link">Legal</a>
			<a href="#" class="footer-nav-link">Contact</a>
		</nav>
	</footer>
</div> </body>
</html>

