{% extends 'base.html' %}

{% block content %}
  <span class='sidebar'>
    <div class='sidebar-title'><h1>Filter Programs</h1></div>
    <hr class='h-divider'></hr>
  </span>
  <div class='content-body'>
    <div class='content-item'><h1>Programs</h1></div>
    <div class='content-item'><table>
      <tr>
        {% for column in dataframe_columns %}
          {% if column.display_html %}
            <th>{{column.display_label}}</th>
          {% endif %}
        {% endfor %}
      </tr>
      {% for program in dataframe.to_dict(orient='records') %}
        <tr class='selectable' onclick='redirect("/programs/{{program.id}}");'>
          {% for column in dataframe_columns %}
            {% if column.display_html %}
              <td>{{program[column.name]}}</td>
            {% endif %}
          {% endfor %}
          <td>
            <button class='selectable' onclick="if (confirm('Are you sure you want to delete program &quot;{{program.title}}&quot;?')) { deleteResource('/programs/{{program.id}}'); redirect('/programs'); }">
              Delete
            </button>
          </td>
        </tr>
      {% endfor %}
      <tr onclick='unhideElem("new-program");'><td>+ Add Program</td></tr>
    </table></div>
    <div class='pop-up' id='new-program' hidden>
      <div class='pop-up-item'>
        <h1>New Program</h1>
        <form action='/programs' method='post'>
          <label class='form-item' for='title'>Title:</label><br>
          <input class='form-item form-input-text' type='text' name='title' required /><br>
          <label class='form-item' for='from_grade'>From grade:</label>
          <select class='form-item' type='select' name='from_grade' required>
            {% for grade in grade_levels %}
              <option value="{{grade.value}}" {% if grade.value == 6 %}selected{% endif %}>{{grade.html_display()}}</option>
            {% endfor %}
          </select><br>
          <label class='form-item' for='to_grade'>To grade:</label>
          <select class='form-item' name='to_grade' required>
            {% for grade in grade_levels %}
              <option value="{{grade.value}}" {% if grade.value == 8 %}selected{% endif %}>{{grade.html_display()}}</option>
            {% endfor %}
          </select><br>
          <label class='form-item' for='tags'>Tags:</label><br>
          <input class='form-item form-input-text' type='text' name='tags' /><br>
          <input class='form-item small-button selectable' type="image" src="{{ url_for('images', path='/confirm.png') }}" border="0" alt="Submit" />
          <a class='form-iterm selectable' href='/programs'><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/></a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
