{% extends 'base.html' %}

{% block content %}
  <span class='sidebar'>
    <div class='sidebar-title'><h1><a class='selectable' href='/programs/{{current_program.id}}'>{{current_program.title}}</a></h1></div>
    <hr class='h-divider'></hr>
    {% for level in current_program.levels.values() %}
      <div class='sidebar-item menu-font'><a class='selectable' href="/programs/{{current_program.id}}/{{level.id}}">{{level.list_index}}: {{level.title}}</a></div>
    {% endfor %}
    <div class='sidebar-item'><button class='selectable menu-font' onclick="unhideElem('level-form')">+ Add Level</button></div>
    <hr class='h-divider'></hr>
    <div class='sidebar-item'><a class='selectable menu-font' href="/programs"><strong>Back to programs</strong></a></div>
  </span>
  {% if current_level is none %}
    <span class='content-body'>
      <div class='content-item'>
        <div id='program-title'>
          <span><strong>Title:</strong> {{current_program.title}}</span>
          <span><button class='selectable' onclick="swapHidden('program-title', 'edit-program-title')"><img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/></button></span>
        </div>
        <div id='edit-program-title' hidden>
          <form method='post' action='/programs/{{current_program.id}}'>
            <label for='program_title'><strong>Title:</strong></label>
            <input type='text' name='program_title' value="{{current_program.title}}">
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/confirm.png') }}" border="0" alt="Submit" />
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/cancel.png') }}" border="0" alt="Cancel" onclick="swapHidden('edit-program-title', 'program-title')" />
          </form>
        </div>
      </div>
      <div class='content-item'>
        <div id='program-tags'>
          <span><strong>Tags:</strong> {{current_program.tags}}</span>
          <span><button class='selectable' onclick="swapHidden('program-tags', 'edit-program-tags')"><img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/></button></span>
        </div>
        <div id='edit-program-tags' hidden>
          <form method='post' action='/programs/{{current_program.id}}'>
            <label for='program_tags'><strong>Tags:</strong></label>
            <input type='text' name='program_tags' value="{{current_program.tags}}">
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/confirm.png') }}" border="0" alt="Submit" />
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/cancel.png') }}" border="0" alt="Cancel" onclick="swapHidden('edit-program-tags', 'program-tags')" />
          </form>
        </div>
      </div>
      <div class='content-item'>
        <div id='program-graderange'>
          <span><strong>Grade levels:</strong> {{current_program.grade_range[0].html_display()}} to {{current_program.grade_range[1].html_display()}}</span>
          <span><button class='selectable' onclick="swapHidden('program-graderange', 'edit-program-graderange')"><img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/></button></span>
        </div>
        <div id='edit-program-graderange' hidden>
          <form  method='post' action='/programs/{{current_program.id}}'>
            <label for='program_from_grade'><strong>From grade:</strong></label>
            <select class='form-item' type='select' name='program_from_grade' required>
              {% for grade in grade_levels %}
                <option value="{{grade.value}}" {% if grade.value == current_program.grade_range[0].value %}selected{% endif %}>{{grade.html_display()}}</option>
              {% endfor %}
            </select>
            <label for='program_to_grade'><strong>To grade:</strong></label>
            <select class='form-item' type='select' name='program_to_grade' required>
              {% for grade in grade_levels %}
                <option value="{{grade.value}}" {% if grade.value == current_program.grade_range[1].value %}selected{% endif %}>{{grade.html_display()}}</option>
              {% endfor %}
            </select>
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/confirm.png') }}" border="0" alt="Submit" />
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/cancel.png') }}" border="0" alt="Cancel" onclick="swapHidden('edit-program-graderange', 'program-graderange')" />
          </form>
        </div>
      </div>
      <div class='content-item'>
        <button class='selectable' onclick="if (confirm('Are you sure you want to delete {{current_program.name}}?')) { deleteResource('/programs/{{current_program.id}}'); redirect('/programs'); }">
          <span><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Delete'/></span>
          <span><strong>Delete Program</strong></span>
        </button>
      </div>
    </span>
    <div class="v-divider"></div>
    <span class='content-body'>
      <div class='content-item'>
        <div id='program-desc'>
          <span><strong>Description:</strong></span>
          <span><button class='selectable' onclick="swapHidden('program-desc', 'edit-program-desc')"><img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/></button></span>
          <div class='content-subitem'><textarea wrap='soft' class='longtext-box'>{{current_program.description}}</textarea></div>
        </div>
        <div id='edit-program-desc' hidden>
          <form  method='post' action='/programs/{{current_program.id}}'>
            <label for='program_desc'><strong>Description:</strong></label>
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/confirm.png') }}" border="0" alt="Submit" />
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/cancel.png') }}" border="0" alt="Cancel" onclick="swapHidden('edit-program-desc', 'program-desc')" /><br><br>
            <div class='longtext-box'><input type='text' class='form-input-longtext' name='program_desc' value="{{current_program.description}}"></div>
          </form>
        </div>
      </div>
    </span>
  {% else %}
    <span class='content-body'>
      <div class='content-item'><h2>Level {{current_level.list_index}}: {{current_level.title}}</h2></div>
      <div class='content-item'>
        <div id='level-title'>
          <span><strong>Title:</strong> {{current_level.title}}</span>
          <span><button class='selectable' onclick="swapHidden('level-title', 'edit-level-title')"><img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/></button></span>
        </div>
        <div id='edit-level-title' hidden>
          <form  method='post' action='/programs/{{current_program.id}}/{{current_level.id}}'>
            <label for='level_title'><strong>Title:</strong></label>
            <input type='text' name='level_title' value="{{current_level.title}}">
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/confirm.png') }}" border="0" alt="Submit" />
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/cancel.png') }}" border="0" alt="Cancel" onclick="swapHidden('edit-level-title', 'level-title')" />
          </form>
        </div>
      </div>
      <div class='content-item'>
        <div id='level-desc'>
          <div>
            <span><strong>Description:</strong></span>
            <span><button class='selectable' onclick="swapHidden('level-desc', 'edit-level-desc')"><img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/></button></span>
          </div>
          <div class='content-subitem'><textarea wrap='soft' class='longtext-box'>{{current_level.description}}</textarea></div>
        </div>
        <div id='edit-level-desc' hidden>
          <form method='post' action='/programs/{{current_program.id}}/{{current_level.id}}'>
            <label for='level_desc'><strong>Description:</strong></label><br>
            <input type='text' class='form-input-longtext' name='level_desc' value="{{current_level.description}}">
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/confirm.png') }}" border="0" alt="Submit" />
            <input type="image" class='small-button selectable' src="{{ url_for('images', path='/cancel.png') }}" border="0" alt="Cancel" onclick="swapHidden('edit-level-desc', 'level-desc')" /><br><br>
            <div class='longtext-box'><input type='text' class='form-input-longtext' name='level_desc' value="{{current_level.description}}"></div>
          </form>
        </div>
      </div>
      <div class='content-item'>
        <button class='selectable' onclick="if (confirm('Are you sure you want to delete {{current_level.name}}?')) { deleteResource('/programs/{{current_program.id}}/{{current_level.id}}'); redirect('/programs/{{current_program.id}}'); }">
          <span><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Delete'/></span>
          <span><strong>Delete Level</strong></span>
        </button>
      </div>
    </span>
  {% endif %}
  <div class='pop-up' id='level-form' hidden>
    <div class='pop-up-item'>
      <h1>New Level for {{current_program.title}} </h1>
      <form method='post' action='/programs/{{current_program.id}}'>
        <label class='form-item' for='level_title'><strong>Title:</strong></label><br>
        <input class='form-item form-input-text' type='text' name='level_title' required><br>
        <label class='form-item' for='level_desc'><strong>Description:</strong></label><br><br>
        <div class='longtext-box'><input type='text' class='form-input-longtext' name='level_desc'></div><br>
        <input class='form-item small-button selectable' type="image" src="{{ url_for('images', path='/confirm.png') }}" border="0" alt="Submit" />
        <a class='form-item selectable' href='/programs/{{current_program.id}}'><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/></a>
      </form>
    </div>
  </div>
{% endblock %}
