{% extends 'base.html' %}

{% block content %}
  <span class='sidebar' id='sidebar'>
    <div class='sidebar-title'><h1><a class='selectable' href='/students'>My Students</a></h1></div>
    <hr class='h-divider'></hr>
    {% for id, name in student_names.items() %}
      <div class='sidebar-item menu-font selectable' onclick='getStudent({{id}});' id='student-sidebar-{{id}}'>{{name}}</div>
    {% endfor %}
    <div class='sidebar-item'><button class='selectable menu-font' onclick="unhide('new-student')">+ Add Student</button></div>
  </span>
  <span class='content-body' id='content-body-1' hidden>
    <div class='content-item'><h1>
      <span>Student Profile</span>
      <span><button class='selectable' id='student-edit' onclick='edit(["student-name", "student-birthdate", "student-grade"]); hide(["student-edit", "student-delete"]); unhide(["student-submit", "student-cancel"]);'>
        <img class='small-button' src="{{ url_for('images', path='/pencil.png') }}" alt='Edit'/>
      </button></span>
      <span><button class='selectable' id='student-submit' onclick='putStudent(student_id); unhide(["student-edit", "student-delete"]); hide(["student-submit", "student-cancel"]);' hidden>
        <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
      </button></span>
      <span><button class='selectable' id='student-cancel' onclick='getStudent(student_id); unhide(["student-edit", "student-delete"]); hide(["student-submit", "student-cancel"]);' hidden>
        <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
      </button></span>
    </h1></div>
    <hr class='content-item h-divider'></hr>
    <div class='content-item'>
      <span><strong>Name: </strong><span class='shorttext-box' id='student-name'></span></span>
    </div>
    <div class='content-item'>
      <span><strong>Birthdate: </strong><input type='date' id='student-birthdate'></span>
    </div>
    <div class='content-item'>
      <span>
        <strong>Current grade level: </strong>
        <select type='select' id='student-grade'>
          <option value="0">K</option>
          {% for grade in range(1,13) %}
            <option value="{{grade}}">{{grade}}</option>
          {% endfor %}
        </select>
      </span>
    </div>
    <div class='content-item' id='student-delete'>
      <button class='selectable' onclick="if (confirm('Are you sure you want to delete this student?')) { deleteStudent(student_id); }">
        <span><img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Delete'/></span>
        <span><strong>Delete Student</strong></span>
      </button>
    </div>
  </span>
  <div class="v-divider" id='content-body-2' hidden></div>
  <span class='content-body' id='content-body-3' hidden>
    <div class='content-item'><h1>Enrolled Camps</h1></div>
    <hr class='content-item h-divider'></hr>
  </span>
  <div class='pop-up' id='new-student' hidden>
    <div class='pop-up-item'>
      <h1>New Student</h1>
      <hr class='h-divider'></hr>
    </div>
    <div class='pop-up-item'>
      <div class='pop-up-subitem'><strong >Name:</strong></div>
      <div class='pop-up-subitem pop-up-text'contenteditable='true' id='new-student-name'></div>
      <div class='pop-up-subitem'><strong>Birthdate:</strong></div>
      <div class='pop-up-subitem'><input type='date' id='new-student-birthdate'></div>
      <div class='pop-up-subitem'><strong>Current grade level:</strong></div>
      <div class='pop-up-subitem'><select type='select' id='new-student-grade'>
        <option value="0">K</option>
        {% for grade in range(1,13) %}
          <option value="{{grade}}" {% if grade == 6 %} selected {% endif %}>{{grade}}</option>
        {% endfor %}
      </select></div>
      <div class='pop-up-subitem'>
        <span><button class='selectable' onclick='postStudent(); resetNewStudent();'>
          <img class='small-button' src="{{ url_for('images', path='/confirm.png') }}" alt='Submit'/>
        </button></span>
        <span><button class='selectable' onclick='resetNewStudent();'>
          <img class='small-button' src="{{ url_for('images', path='/cancel.png') }}" alt='Cancel'/>
        </button></span>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  class Student {
    constructor(id, name, birthdate, gradeLevel) {
      this.id = id;
      this.name = name;
      this.birthdate = birthdate;
      this.grade_level = gradeLevel;
    }
  }
  student_id = null;

  function displayStudent(student) {
    unhide(["content-body-1", "content-body-2", "content-body-3"]);

    studentName = document.getElementById('student-name');
    studentName.innerHTML = student.name;
    studentName.contentEditable = false;

    studentNameSidebar = document.getElementById('student-sidebar-' + student.id);
    studentNameSidebar.innerHTML = student.name;

    studentBirthdate = document.getElementById('student-birthdate');
    studentBirthdate.value = student.birthdate;
    studentBirthdate.readOnly = true;

    studentGrade = document.getElementById('student-grade');
    studentGrade.selectedIndex = student.grade_level;
    studentGrade.disabled = true;
  }

  function resetNewStudent() {
    hide("new-student");
    document.getElementById('new-student-name').innerHTML = "";
    document.getElementById('new-student-birthdate').value = "";
    document.getElementById('new-student-grade').selectedIndex = 6;
  }

  function getStudent(id) {
    student_id = id;
    http.get('/students', id).then((student) => {displayStudent(student);});
  }

  function postStudent() {
    studentName = document.getElementById('new-student-name').innerHTML;
    studentBirthdate = document.getElementById('new-student-birthdate').value;
    studentGrade = document.getElementById('new-student-grade').selectedIndex;
    student = new Student(null, studentName, studentBirthdate, studentGrade);
    if (studentName != "" && studentBirthdate != "") {
      http.post('/students', student).then((returnedStudent) => {
        // Add to sidebar
        sidebar = document.getElementById('sidebar');
        newDiv = document.createElement('div');
        newDiv.classList.add('sidebar-item');
        newDiv.classList.add('menu-font');
        newDiv.classList.add('selectable');
        newDiv.id = 'student-sidebar-' + returnedStudent.id;
        newDiv.onclick = 'getStudent(' + returnedStudent.id + ');';
        newDiv.innerHTML = returnedStudent.name;
        sidebar.insertBefore(newDiv, sidebar.lastElementChild);

        // Now display this student
        displayStudent(returnedStudent);
      });
    }
  }

  function putStudent(id) {
    studentName = document.getElementById('student-name').innerHTML;
    studentBirthdate = document.getElementById('student-birthdate').value;
    studentGrade = document.getElementById('student-grade').selectedIndex;
    student = new Student(id, studentName, studentBirthdate, studentGrade);
    http.put('/students', id, student).then((returnedStudent) => {displayStudent(returnedStudent);});
  }

  function deleteStudent(id) {
    http.delete('/students', id);
    http.redirect('/students');
  }
{% endblock %}

